

.my-login-page {
	background-color:lightgray;
    
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





img {
    image-orientation: initial;
    border-radius: 50%;
	width: 50%;
}


.form-group{
    justify-content: center;
    

}

.card .card-body {
	border-color: black;
    background-color:white;
    
    width:100%;
    
}
h1{
    font-family:" New Roman", Times, serif;
    font-size: large;
}

.card-body{
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}


.form-control {
	border-width: 2.3px;
}

.form-group label {
	width: 100%;
}

.btn.btn-block {
	padding: 12px 10px;
}

.footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .panel .panel-default {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .panel .panel-default  {
		padding: 0;
	}

	.my-login-page .panel .panel-default {
        padding: 15px;
        justify-content: center
	}
}